<% layout 'error_layout', :title => "#{@app_name} application could not be started" do %>
<h1 class="error_title"><%= @app_name %> Error - 404 Not Found</h1>
<div id="content">

	<%= @path%>

</div>
<% end %>
